# Environment & Secrets
.env

# SQLite Database
*.db
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/

# Virtual Environments
venv/
env/
.venv/

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Logs
*.log
